* {
    margin: 0;
    padding: 0;
}

header{ 
    background-color:rgb(0, 93, 93);
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    position: sticky;
    top: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    /* padding: 0 20px; */
    align-items: center;
    gap: 1rem;
    z-index: 100;
  }
  a{ 
    text-decoration: none;
  } 
  .logo{ 
    /* display: block; */
    align-items: center;
    margin-left: 2rem;
    margin-right: auto;
    margin-top: .5rem;
  }
  .logo img{ 
    width: 10rem;
  }
  .hidden{
    display: none;
  }
  /* .container2{ 
    display: none;
  } */
  #manage{
    align-items: center;
    color: aquamarine;
    font-size: 1rem;
    margin-right: 3rem;
  }
  
  .nav{ 
   
    color: white;
    font-size: 1rem;
    margin-right: 3rem;
  }
  /* .srchBox{ 
    width: 19rem;
    height: 1.8rem;
    margin-top: .1rem;
    border-radius: 15px;
    border: 0px;
    display: flex;
    align-items: center;
   border: none;
   outline: none;
    margin-right: -4.8rem;
    padding-left: 1rem;
  }
  .srchBox ::placeholder{ 
    padding-left: 1.5em;
  }
  .bt1{ 
    text-align: center;
    font-size: .8rem;
    height: 1.8rem;
    width: 6rem;
    margin-top: .1rem;
    border-radius: 15px;
   margin-left: -9.9rem;
   border: .2px solid white;
    color: white;
    background-color: rgb(0, 93, 93);
    box-shadow: 0 0 2px rgb(78, 78, 78);
    margin-right: 3rem;
   
  }
  .bt1:hover{ 
    background-color: rgb(2, 64, 64);
  } */
  .cart{ 
 
    margin-right: 3rem;
   font-size: 1rem;
   margin-top: .3rem;
}
.cart img{ 
    width: 35px;

}
body {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    line-height: 1.7;
    background-color:white;
    color: #333;
}
.container {
    width: 70%;
    margin: 25px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    font-family: "Merienda", serif;
    text-align: center;
    color: #2c3e50;
    margin-top: 1.5rem;
    border-bottom: 1px solid teal;
    border-top: 1px solid teal;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: .1rem 2rem .1rem 2rem;
  border-radius: 15px;
}
p {
    margin: 10px 0;
}
ul {
    list-style-type: square;
    margin: 10px 0 0 20px;
}
footer{ 
    text-align: center;
    background-color:rgb(0, 93, 93);
    height: 2.5rem;
    padding-top: 1.5rem;
    color: white;
   
}