*{ 
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
}
body{ 
    background-image: url(../Images/backgroud11.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.head1{ 
    font-family: "Merienda", serif;
    text-align: center;
    margin-top: 1rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: .2rem 2rem .2rem 2rem;
border-radius: 15px;
    background-color:rgb(0, 93, 93); 
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
}
.image{ 
    float: left;
    width: 33%;
    
}

.form{ 
   

width: 45rem;
height: 13rem;
margin-left: auto;
margin-right: auto;
border-radius: 20px;
border: 0px;
display: flex;
flex-direction: row;

padding: 1.5rem;
box-shadow: 0 0 5px rgb(115, 255, 255);
}
.formEle{ 
  width: 60%;
  margin-left: 3rem;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
}
.table{ 
   min-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    
    margin-top: 2rem;
    padding: .5rem;
    box-shadow: 0 0 5px rgb(115, 255, 255);
    background-color: white;
}
label{ 
    float:left;
    font-size: 1.2rem;
   
}
input,select{ 
    float:right;
    width: 13rem;
    height: 1.3rem;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 0 2px rgb(80, 80, 255);
   
}
option{ 
    text-align: center;
}
.bt1{ 
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 0 2px black;
    height: 2rem;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: .2rem 2rem .2rem 2rem;
border-radius: 15px;
    background-color:teal ;
    color: white;
   margin-top: 1rem;
}
.head2{ 
    font-family: "Merienda", serif;
    text-align: center;
    margin-top: 2rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: .2rem 2rem .2rem 2rem;
border-radius: 20px;
 background-color:rgb(0, 93, 93); 
color: white;
}
::placeholder{ 
    padding-left: .7rem;
}

.bookTable{ 

text-align: center;
width: 100%;
background-color: white;
}
.book-table-head{ 
    position: sticky;
}

th{ 
width: 20%;
text-align: center;
border-radius: 10px;
padding: .3rem 1rem .3rem 1rem;
background-color:teal;
color: white;
font-weight: 600;
}
td{ 
    width: 20%;
    padding: .3rem .5rem .3rem .5rem;
text-align: center;
border-radius: 5px;
box-shadow: 0 0 2px rgb(83, 143, 143);


}
.td5{ 
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.editAndDelete {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    gap: 1rem; /* Space between buttons */
    width: auto;
    min-height: 6rem;
}

.delete-button, .edit-button {
    background-color: teal;
    width: 4rem;
    height: 2rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-size: larger;
}
.delete-button {
    background-color: rgb(255, 92, 92);
}

